body{
    background-color: #bd2020;
}
.navbar-brand{
    font-family: 'Nova Round', cursive;
}
.header-text{
    padding: 5%;
    font-size: 5em;
    text-align: center;
    font-family: 'Nova Round', cursive;
    color: #bd2020;
}
.header{
    background-color: #241d1d; 
}
.header-image{
    width: 100%;
    position: static;
}
.video-section{
    padding: 5%;
    background-color: #bd2020;
}
.video{
    padding: 0;
    margin: 0 auto;
    display: block;
}
.card{
    background-color: #241d1d;
    color: white;
    text-align: center;
    padding-top: 3%;
}
.news{
    background-color: #241d1d;
}
