.red-section{
    padding: 3%;
    background-color: #bd2020;
    color: #ffffff;
}
.black-section{
    padding: 3%;
    background-color: #241d1d;
    color: #bd2020;
}
.white-section{
    padding: 3%;
    background-color: #ffffff;
    color: #000000;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    text-align: center;
    background-color: #bd2020;
}
h1{
    font-size: 5em;
    text-align: center;
    font-family: 'Nova Round', cursive;
    padding-bottom: 3%;
}
h2{
    font-size: 4em;
    text-align: center;
    font-family: 'Nova Round', cursive;
    padding-bottom: 3%;
}
h3{
    font-size: 2em;
    text-align: center;
    font-family: 'Nova Round', cursive;
    padding-bottom: 3%;
}
.navbar-brand{
    font-family: 'Nova Round', cursive;
}
.header{
    padding:0;
    padding-bottom: 3%;;
}
.header-image{
    width: 100%;
    position: static;
}
.header-text{
    padding-top: 3%;
}
.video{
    margin: 0 auto;
    display: block;
}
.news-card{
    border: 0;
    background-color: #bd2020;
    color: #ffffff;
    text-align: center;
    padding-top: 3%;
}
.sponsor-logo{
    width: 13%;
    margin: 0% 1.5%;
}
.first-img{
    margin-left: 65%;
    margin-right: 0;
    width: 35%;
}
.btn{
    margin: 0%, 3%;
}
.learn-more{
    text-align: left;
}
.robot-logo{
    width: 30%;
}
.carousel-item{
    padding: 3% 30% 0%;
}
.team-img{
    width: 60%;
}
.colo-regional{
    padding-bottom: 5%;
}
.mmxix{
    padding-bottom: 0%;
}
.robot-img{
    width: 30%;
    padding-bottom: 3%;
}
.arizona-team,.colo-team{
    padding-top: 3%;
    padding-bottom: 3%;
}
.astro-video{
    padding-bottom: 3%;
}
.about-text{
    padding-left: 10%;
    padding-right: 10%;
}
.donate-text{
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}
.white-section-link{
    color: #000000;
}
.red-section-link{
    color: #ffffff;
}
.lasagna-img{
    width: 60%;
    padding-bottom: 5%;
}
.food-text{
    padding-left: 8%;
    padding-right: 8%;
}