
.navbar-brand{
    font-family: 'Nova Round', cursive;
}
.header-text{
    padding: 5%;
    font-size: 5em;
    text-align: center;
    font-family: 'Nova Round', cursive;
    color: #bd2020;
}
.header{
    background-color: #241d1d; 
}
.header-image{
    width: 100%;
    position: static;
}
.video-section{
    padding: 5%;
    background-color: #bd2020;
}
.video{
    margin: 0 auto;
    background-color: #777;
    display: block;
}
